khoahoc.dtd

<!ELEMENT courses (course:course+)>

<!-- Định nghĩa cho khóa học -->
<!ELEMENT course:course (course:title, course:category, instructor:instructor, course:students)>
<!ATTLIST course:course id ID #REQUIRED>

<!ELEMENT course:title (#PCDATA)>
<!ELEMENT course:category (#PCDATA)>

<!-- Định nghĩa cho giảng viên -->
<!ELEMENT instructor:instructor (instructor:name, instructor:email)>
<!ATTLIST instructor:instructor id ID #REQUIRED>

<!ELEMENT instructor:name (#PCDATA)>
<!ELEMENT instructor:email (#PCDATA)>

<!-- Danh sách sinh viên -->
<!ELEMENT course:students (student:student+)>

<!ELEMENT student:student (student:name, student:progress)>
<!ATTLIST student:student id ID #REQUIRED>

<!ELEMENT student:name (#PCDATA)>
<!ELEMENT student:progress (#PCDATA)>
